
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        scroll-behavior: smooth;
    }
    .loading{
      position:relative;
      margin: auto;
      margin-top: 10%;
      text-align: center;
      vertical-align: middle;
      z-index: 1;
    }
    
    
    .mainContent{
      z-index: 0;
    }
    .scrollmenu {
        overflow: auto;
        white-space: nowrap;
      }
      
      .scrollmenu .wishlistDiv-cart {
        display: inline-block;
      }
      
      
      .scrollmenu::-webkit-scrollbar {
        display: none;
    }


